<section class="w-full flex xl:flex-row flex-col justify-center min-h-screen gap-10 max-container pt-28">
    <div class="w-2/3">
        <h1 class="text-4xl text-lime-500 text-center">Your cart</h1>
        <div class="flex flex-wrap w-full gap-6 py-10 px-5">
            <!-- <div class="gap-2 flex">
                <div class="w-20 h-20">
                    <img src="images/Recette_de_Nouilles_Sautees_aux_Legumes.webp" alt="" class="w-full h-full object-cover object-center rounded">
                </div>
            </div> -->

            <article class="card" *ngFor="let prod of cartContent">
                <div class="image-container">
                    <img [src]="prod.image" alt="">
                </div>
                <div class="informations">
                    <div class="flex justify-between items-center py-2">
                        <h2>{{prod.name}}</h2>
                        <button class="text-red-500 remove" (click)="removeToCart(prod)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <div class="actions">
                        <div class="btn-card">
                            <button (click)="decrementItem(prod)">
                                <i class="fa fa-minus"></i>
                            </button>
                            <p>{{prod.quantity}}</p>
                            <button (click)="addToCart(prod)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>  
                </div>
            </article>
            
        </div>
    </div>
    <div class="m-auto text-center border border-gray-200 rounded p-5">
        <h3 class="text-xl font-bold text-md">Order Summary</h3>
        <div class="flex justify-between py-2">
            <p>Subtotal</p>
            <p>
                <i class="fa fa-dollar"></i>
                {{invoice.subtotal}}
            </p>
        </div>
        <div class="flex justify-between py-2">
            <p>Discount</p>
            <p>
                <i class="fa fa-dollar"></i>
                {{invoice.discount}}
            </p>
        </div>
        <div class="flex justify-between border-b py-2 border-gray-200">
            <p>Delivery fee</p>
            <p>
                <i class="fa fa-dollar"></i>
                {{invoice.delivery}}
            </p>
        </div>
        <div class="flex justify-between py-2">
            <p class="font-bold">Total</p>
            <p>
                <i class="fa fa-dollar"></i>
                {{invoice.total}}
            </p>
        </div>
        <div class="w-full relative flex justify-center items-center">
            <input type="text" class="bg-gray-300 p-2 rounded" placeholder="Add Promo Code">
            <button class="text-white bg-lime-500 right-0 p-2 rounded">Apply</button>
        </div>
        <button class="w-full text-white rounded mt-1 p-2 bg-lime-500">
            <i class="fa fa-truck"></i>
            Delivery
        </button>
    </div>
</section>