<section class="w-full flex xl:flex-row flex-col justify-center min-h-screen gap-10 max-container pt-28">
    <div class="w-1/2">
        <h1 class="text-4xl text-lime-500 text-center">Your cart</h1>
        <div class="flex flex-wrap w-full gap-6 py-10 px-5">
            <div class="gap-2 flex">
                <div class="w-20 h-20">
                    <img src="images/Recette_de_Nouilles_Sautees_aux_Legumes.webp" alt="" class="w-full h-full object-cover object-center rounded">
                </div>
            </div>
            <div class="gap-2 flex">
                <div class="w-20 h-20">
                    <img src="images/Easy-Vegan-Pad-Thai_3680.jpg" alt="" class="w-full h-full object-cover object-center rounded">
                </div>
            </div>
            <div class="gap-2 flex">
                <div class="w-20 h-20">
                    <img src="images/manhattan-4000x4000-primary-ig-9c3d894510284e9d8fbd9c518d00790b.jpg" alt="" class="w-full h-full object-cover object-center rounded">
                </div>
            </div>
            <div class="gap-2 flex">
                <div class="w-20 h-20">
                    <img src="images/17244-caramel-topped-ice-cream-dessert-600x600.jpg" alt="" class="w-full h-full object-cover object-center rounded">
                </div>
            </div>
            
        </div>
    </div>
    <div class="m-auto text-center border border-gray-200 rounded p-5">
        <h3 class="text-xl font-bold text-md">Order Summary</h3>
        <div class="flex justify-between py-2">
            <p>Subtotal</p>
            <p>
                <i class="fa fa-dollar"></i>
                0
            </p>
        </div>
        <div class="flex justify-between py-2">
            <p>Discount</p>
            <p>
                <i class="fa fa-dollar"></i>
                0
            </p>
        </div>
        <div class="flex justify-between border-b py-2 border-gray-200">
            <p>Delivery fee</p>
            <p>
                <i class="fa fa-dollar"></i>
                0
            </p>
        </div>
        <div class="flex justify-between py-2">
            <p class="font-bold">Total</p>
            <p>
                <i class="fa fa-dollar"></i>
                0
            </p>
        </div>
        <div class="w-full relative flex justify-center items-center">
            <input type="text" class="bg-gray-300 p-2 rounded" placeholder="Add Promo Code">
            <button class="text-white bg-lime-500 right-0 p-2 rounded">Apply</button>
        </div>
        <button class="w-full text-white rounded mt-1 p-2 bg-lime-500">
            <i class="fa fa-truck"></i>
            Delivery
        </button>
    </div>
</section>