<section class="max-container flex justify-between items-center flex-col max-lg:flex-col gap-10" id="contact-us">
    <h3 class="text-4xl leading-[68px] lg:max-w-md font-palanquin font-bold">
        Sign Up from <span class="text-red-200">Updated </span>& Newsletter
    </h3>
    <div class="lg:max-w-[40%] w-full flex items-center max-sm:flex-col gap-5 p-2.5
    sm:border sm:border-gray-500 rounded">
        <input type="text" placeholder="Send feedback" class="input">
        <div class="flex max-sm:justify-end items-center max-sm:w-full">
            <button class="bg-rose-400 text-lg border rounded-full text-white px-7 py-4">
                Subscribe
            </button>
        </div>
    </div>
</section>