<div class="flex justify-between items-center max-sm:block">
    <h2 class="text-3xl font-bold text-amber-500">Dish List</h2>
    <form class="flex justify-center items-center relative">
        <input 
            type="text" 
            placeholder="Recipe name" 
            class="bg-white px-5 py-2 text-xl w-full rounded-full"
            [(ngModel)]="filter"
            (change)="onChange(filter)"
            name="search"
        >
        <button type="button" class="absolute right-3">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<div class="mt-5">
    <div class="min-h-[350px] w-full bg-white shadow-xl p-1">
        <table class="w-full">
            <thead class="font-bold text-xl bg-amber-500 text-white">
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Availability</th>
                <th>Price</th>
                <th>Actions</th>
            </thead>
            <tbody>
                @if(pageResponse.content.length == 0) {
                    <p>No Product saved for the moment</p>
                }@else {
                    <tr class="border-b border-gray-200 py-2" *ngFor="let product of pageResponse.content">
                        <td>{{product.id}}</td>
                        <td>
                            <div class="w-[70px] h-[70px] m-auto">
                                
                                @if(product.image){
                                    <img 
                                        [src]="getImage(product.id)" 
                                        [alt]="product.image" 
                                        class="w-full h-full object-cover rounded-[5px]"
                                    >
                                }@else {
                                    <div class="flex justify-center items-center bg-gray-200 w-full h-full">
                                        <i class="fa fa-picture-o rounded-[5px]"></i>
                                    </div>
                                }
                            </div>
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>
                            @if(product.availability) {
                                <p class="bg-green-500 text-white font-bold rounded">AVAILABLE</p>
                            }@else {
                                <p class="bg-red-500 text-white font-bold rounded">SOLD</p>
                            }
                        </td>
                        <td>
                            <i class="fa fa-dollar"></i>
                            {{product.price}}
                        </td>
                        <td>
                            <div class="flex justify-center items-center">
                                <a 
                                    class="bg-blue-600 text-white rounded-full flex justify-center items-center w-7 h-7 mx-1"
                                    [routerLink]="['/auth/product/form', product.id]"
                                >
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="bg-red-600 text-white rounded-full flex justify-center items-center w-7 h-7 mx-1">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center mt-2">
            <button 
                class="px-7 py-1 bg-amber-500 text-white rounded-full"
                routerLink="/auth/product/form"
            >
                <i class="fa fa-plus"></i>
                Add
            </button>
        </div>

        <!-- <app-pagination
        (data)="dataFromPagination($event)" [pagination]="productResponse"></app-pagination> -->
    </div>
</div>

