<section class="bg-gray-100 min-h-screen flex items-center justify-center p-10">
    <div class="bg-lime-100 flex rounded-2xl shadow-lg max-w-3xl">
        <div class="md:w-1/2 p-10 relative">
            <!-- <div class="w-10 h-10 flex justify-center absolute right-5 top-5 items-center bg-white rounded-full hidden md:block">
                <i class="text-4xl text-red-500 fa fa-times"></i>
            </div> -->
            <div class="w-10 h-10 bg-white rounded-full absolute right-5 top-5 flex justify-center items-center hidden">
                <i class="fa fa-times text-red-500 text-4xl"></i>
            </div>
            <h2 class="font-bold text-2xl text-lime-900">Login</h2>
            <!-- <p class="text-sm mt-4 text-lime-900">If you already a member, easily log in</p> -->

            <form action="" class="flex flex-col gap-4">
                <input class="p-2 mt-8 rounded-xl border" type="text" placeholder="Email">
                <div class="relative">
                    <input class="p-2 rounded-xl border w-full" type="password" placeholder="Password">
                    <i class="fa fa-eye-slash absolute top-1 right-3 translate-y-1/2 text-gray-300 hover:text-gray-900 cursor-pointer"></i>
                </div>
                <button class="bg-lime-400 rounded-xl text-white py-2 font-semibold">
                    Login
                </button>
            </form>

            <div class="mt-7 grid grid-cols-3 items-center text-gray-500">
                <hr class="border-gray-400">
                <p class="text-center text-sm">OR</p>
                <hr class="border-gray-400">
            </div>

            <button class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm">
                <i class="fa fa-google mr-3"></i>
                Login with google
            </button>

            <button class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm">
                <i class="fa fa-facebook mr-3"></i>
                Login with facebook
            </button>

            <button class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm">
                <i class="fa fa-apple mr-3"></i>
                Login with apple
            </button>

            <p class="mt-5 text-xs border-b border-gray-400 py-4">Forgot your password ?</p>

            <div class="mt-3 text-xs flex justify-between items-center">
                <p>If you don't have an account..</p>
                <button class="py-2 px-5 bg-white border rounded-xl" (click)="register()">Register</button>
            </div>
        </div>

        <div class="relative w-1/2 md:block hidden">
            <img class="rounded-2xl w-full h-full object-cover" src="images/pate-au-tacos.jpg" alt="">
            <div class="w-10 h-10 flex justify-center absolute right-5 top-5 items-center bg-white rounded-full cursor-pointer" (click)="goBack()">
                <i class="text-4xl text-red-500 fa fa-times"></i>
            </div>
        </div>
    </div>
</section>
