<section 
    id="new-recipe"
    class="w-full min-h-screen gap-10 max-container"
>
    <div class="flex xl:flex-row flex-col justify-center items-center gap-10 pt-28">
        <div class="flex flex-1 flex-col">
            <p class="text-xl text-lime-300">New Recipe</p>
            <h2 class="text-4xl font-bold">Test Our new recipes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui velit adipisci beatae sequi mollitia exercitationem natus officia necessitatibus, dolorem sed. Esse atque ea quod! Mollitia earum doloribus rem aspernatur deserunt?</p>
            <div class="mt-2 flex items-center">
                <button class="text-lime-400 border border-lime-400 rounded-full w-11 h-11 flex justify-center items-center mx-5">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button class="text-lime-400 border border-lime-400 rounded-full w-11 h-11 flex justify-center items-center mx-5">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="flex flex-wrap items-center justify-between">

            <div class="w-[150px] h-[200px] bg-gray-500 rounded-[10px] mx-2">
                <img 
                    src="images/Easy-Vegan-Pad-Thai_3680.jpg" 
                    alt="image" 
                    class="w-full h-full object-cover object-center rounded-[10px]"
                >
            </div>
            <div class="w-[150px] h-[200px] bg-gray-500 rounded-[10px] mx-2">
                <img 
                src="images/fd3520b_253654938-page-84-poireaux-vinaigrette-copie.jpg" 
                    alt="image" 
                    class="w-full h-full object-cover object-center rounded-[10px]"
                >
            </div>
            <div class="w-[150px] h-[200px] bg-gray-500 rounded-[10px] mx-2">
                <img 
                src="images/top-recettes-mars-2022-intro-mobile-1649250827.jpg" 
                    alt="image" 
                    class="w-full h-full object-cover object-center rounded-[10px]"
                >
            </div>

        </div>
    </div>
    <div class="text-center gap-10 mt-10">
        <h1 class="text-4xl font-bold text-lime-400">Our Menu</h1>
        <ul class="flex justify-center items-center mt-5">
            <li [ngClass]="toggleActive('DRINKS')" (click)="active('DRINKS')">
                Drinks
            </li>
            <li [ngClass]="toggleActive('PIZZAS')" (click)="active('PIZZAS')">
                Pizzas
            </li>
            <li [ngClass]="toggleActive('DISHS')" (click)="active('DISHS')">
                Dishs
            </li>
            <li [ngClass]="toggleActive('NOODLES')" (click)="active('NOODLES')">
                Nooldes
            </li>
        </ul>
        <div class="w-full px-2 flex flex-wrap justify-center items-center gap-5 p-5">
            <div class="flex justify-between w-[300px] shadow-xl rounded-[10px] duration-100" *ngFor="let rec of recipesActive">
                <div class="h-[200px] w-[150px] rounded-[10px]">
                    <img 
                        [src]="findProductImage(rec.id)" 
                        [alt]="rec.image" 
                        class="w-full h-full object-cover object-center rounded-[10px]"
                    >
                </div>
                <div class="flex flex-col justify-between p-5">
                    <h3 class="text-2xl font-bold">{{rec.name}}</h3>
                    <ul class="flex justify-around items-center">
                        <li>
                            <i class="fa fa-star text-lime-400"></i>
                        </li>
                        <li>
                            <i class="fa fa-star text-lime-400"></i>
                        </li>
                        <li>
                            <i class="fa fa-star text-lime-400"></i>
                        </li>
                        <li>
                            <i class="fa fa-star text-lime-400"></i>
                        </li>
                        <li>
                            <i class="fa fa-star text-lime-400"></i>
                        </li>  
                    </ul>
                    <p class="font-bold text-lime-500">
                        <i class="fa fa-dollar"></i>
                        {{rec.price}}
                    </p>
                    <div class="w-full flex justify-between items-center">
                        <button class="font-bold text-rose-500" (click)="addFavorite(rec)">
                            <i [ngClass]="isFavorite(rec.id)"></i>
                        </button>
                        @if(rec.availability) {
                            <button 
                                class="font-bold p-1 text-white bg-lime-400 rounded-[10px] w-11"
                                (click)="addToCart(rec)"
                            >
                                <i class="fa fa-cart-arrow-down"></i>
                            </button>
                        }@else {
                            <p class="text-xl font-bold text-red-500 cursor-default">SOLD OUT</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
