<section id="products" class="max-container max-sm:mt-12">
    <div class="flex flex-col justify-start gap-5">
        <h2 class="text-4xl font-palanquin font-bold">
            Our 
            <span class="text-lime-400">popular</span> 
            products
        </h2>
        <p class="lg:max-w-lg mt-2 font-montserrat text-gray-500">
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. 
            Ratione ab cumque commodi necessitatibus, 
            eveniet repellendus quis optio mollitia 
            saepe fugiat officia vel, 
            culpa sapiente molestiae molestias 
            architecto! Aliquid, neque atque.
        </p>
    </div>

    <div class="mt-16 grid 
    lg:grid-cols-4 
    md:grid-cols-3
    sm:grid-cols-2
    grid-cols-1
    
    sm:grap-4 gap-14
    ">
        <div class="flex flex-1 flex-col w-full max-sm:w-full">
            <img 
                src="images/Easy-Vegan-Pad-Thai_3680.jpg" 
                alt="image"
                class="w-[280px] h-[280px] object-cover object-center rounded-[20px]"
            />
            <div class="mt-8 flex justify-start gap-2.5">
                <i class="fa fa-star text-lime-400"></i>
                <p class="text-xl leading-normal text-gray">4.5</p>
            </div>
            <h3 class="mt-2 text-2xl leading-normal font-semibold">Pad thai Easy vegan</h3>
            <p class="mt-2 font-semibold text-lime-300 text-2xl leading-normal">$ 200.00</p>
        </div>

        <div class="flex flex-1 flex-col w-full max-sm:w-full">
            <img 
                src="images/fd3520b_253654938-page-84-poireaux-vinaigrette-copie.jpg" 
                alt="image"
                class="w-[280px] h-[280px] object-cover object-center rounded-[20px]"
            />
            <div class="mt-8 flex justify-start gap-2.5">
                <i class="fa fa-star text-lime-400"></i>
                <p class="text-xl leading-normal text-gray">4.5</p>
            </div>
            <h3 class="mt-2 text-2xl leading-normal font-semibold">Vegan rolls</h3>
            <p class="mt-2 font-semibold text-lime-300 text-2xl leading-normal">$ 175.00</p>
        </div>

        <div class="flex flex-1 flex-col w-full max-sm:w-full">
            <img 
                src="images/top-recettes-mars-2022-intro-mobile-1649250827.jpg" 
                alt="image"
                class="w-[280px] h-[280px] object-cover object-center rounded-[20px]"
            />
            <div class="mt-8 flex justify-start gap-2.5">
                <i class="fa fa-star text-lime-400"></i>
                <p class="text-xl leading-normal text-gray">4.5</p>
            </div>
            <h3 class="mt-2 text-2xl leading-normal font-semibold">Chicken bowls</h3>
            <p class="mt-2 font-semibold text-lime-300 text-2xl leading-normal">$ 500.00</p>
        </div>

        <div class="flex flex-1 flex-col w-full max-sm:w-full">
            <img 
                src="images/Recette_de_Nouilles_Sautees_aux_Legumes.webp" 
                alt="image"
                class="w-[280px] h-[280px] object-cover object-center rounded-[20px]"
            />
            <div class="mt-8 flex justify-start gap-2.5">
                <i class="fa fa-star text-lime-400"></i>
                <p class="text-xl leading-normal text-gray">4.5</p>
            </div>
            <h3 class="mt-2 text-2xl leading-normal font-semibold">Noodle vegetable</h3>
            <p class="mt-2 font-semibold text-lime-300 text-2xl leading-normal">$ 200.00</p>
        </div>

        
    </div>
</section>
