<section id="products" class="max-container max-sm:mt-12">
    <div class="flex flex-col justify-start gap-5">
        <h2 class="text-4xl font-palanquin font-bold">
            Our 
            <span class="text-lime-400">popular</span> 
            products
        </h2>
        <p class="lg:max-w-lg mt-2 font-montserrat text-gray-500">
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. 
            Ratione ab cumque commodi necessitatibus, 
            eveniet repellendus quis optio mollitia 
            saepe fugiat officia vel, 
            culpa sapiente molestiae molestias 
            architecto! Aliquid, neque atque.
        </p>
    </div>

    @if(products) {
        <swiper-container loop="true" slides-per-view="4" class="w-full mt-16">
            <swiper-slide *ngFor="let product of products.content">
                <div class="flex flex-1 flex-col w-full max-sm:w-full">
                    <img 
                        [src]="findImage(product.id)" 
                        [alt]="product.image"
                        class="w-[280px] h-[280px] object-cover object-center rounded-[20px]"
                    />
                    <div class="mt-8 flex justify-start gap-2.5">
                        <i class="fa fa-star text-lime-400"></i>
                        <p class="text-xl leading-normal text-gray">4.5</p>
                    </div>
                    <h3 class="mt-2 text-2xl leading-normal font-semibold">{{product.name}}</h3>
                    <p class="mt-2 font-semibold text-lime-300 text-2xl leading-normal">$ {{product.price}}</p>
                </div>
            </swiper-slide>
        </swiper-container>
    }@else {
        <app-loading></app-loading>
    }
</section>
