<main class="relative">
    <app-navigation></app-navigation>
    <section class="xl:padding-1 wide:padding-r padding-b">
        <section id="home" 
        class="w-full flex xl:flex-row flex-col justify-center min-h-screen gap-10 max-container">
        
            <div class="relative xl:w-2/5 flex flex-col justify-center items-start w-full max-xl:padding-x pt-28">
                <p class="text-xl font-montserrat text-red-300">Our summer collection</p>
                <h1 class="mt-10 font-palanquin text-8xl 
                max-sm:text-[72px]
                max-sm:leading-[82px]
                font-bold">
                    <span class="xl:bg-white xl:whitespace-nowrap relative z-10 pr-10">The new Arrival</span>
                    <br/>
                    <span class="text-red-400 inline-block mt-3">Nike</span>
                    Shoes
                </h1>
                <p class="font-montserrat text-slate-gray text-lg leading-8 
                mt-6 mb-14 sm:max-w-sm">Discover stylish Nike arrivals, quality comfort,
                    and innovation for your active life.
                </p>
                <button 
                class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-rose-400
                rounded-full text-white">
                    Show me
                    <span class="ml-2 rounded-full w-5 h-5 bg-white text-rose-300">></span>
                </button>
                <div class="flex justify-starts items-start flex-wrap w-full mt-20 gap-16">
                    <div>
                        <p class="text-4xl font-palanquin font-bold">1K+</p>
                        <p class="leading-7 font-montserrat text-slate-gray">Brands</p>
                    </div>
                    <div>
                        <p class="text-4xl font-palanquin font-bold">500+</p>
                        <p>Shops</p>
                    </div>
                    <div>
                        <p class="text-4xl font-palanquin font-bold">250k+</p>
                        <p>Customers</p>
                    </div>
                </div>
            </div>
        
        </section>
    </section>
    <section class="py-10 px-5">
        <app-popular-product></app-popular-product>
    </section>
    <section class="py-10 px-5">
        <app-super-quality></app-super-quality>
    </section>
    <section class="py-10 px-5">
        <app-about></app-about>
    </section>
    <section class="py-10 px-5 bg-blue-100">
        <app-customer></app-customer>
    </section>
    <section class="padding sm:py-32 py-16 w-full">
        <app-subscribe></app-subscribe>
    </section>
    <section class="bg-black padding-x padding-t pb-8 px-5 py-10">
        <app-footer></app-footer>
    </section>
</main>