<div class="flex flex-1 flex-col w-full max-sm:w-full">
    <div class="w-[280px] h-[280px] bg-slate-600 rounded-[10px]"></div>
    <div class="mt-8 flex justify-start gap-2.5">
        <!-- stars rates images -->
        
    </div>
    <p class="font-montserrat text-xl leading-normal text-slate-600">4.5</p>
    <h3 class="mt-2 text-2xl leading-normal font-semibold font-plalanquin">{{product.name}}</h3>
    <p class="mt-2 font-semibold font-montserrat text-rose-400 text-2xl leading-normal">{{product.price}} $</p>
</div>
