<footer class="max-container">
    <div class="flex justify-between items-start gap-20 flex-wrap max-lg:flex-col">
        <div class="flex flex-col items-start">
            <a href="#">
                <div class="w-[130px] h-[130px] p-1 text-white">
                    <img src="images/Ginyard.png" class="w-full h-full object-cover" alt="">
                </div>
            </a>
            <p class="mt-6 text-base leading-7 fontmontserrat text-white sm:max-w-sm">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad aut, nihil unde optio fugiat harum enim quis excepturi placeat vitae ratione doloremque error et, necessitatibus at? Dignissimos commodi officiis modi.
            </p>
            <div class="flex items-center gap-5 mt-8">
                <div class="flex justify-center items-center w-12 h-12 bg-white rounded-full">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="flex justify-center items-center w-12 h-12 bg-white rounded-full">
                    <i class="fa fa-google"></i>
                </div>
                <div class="flex justify-center items-center w-12 h-12 bg-white rounded-full">
                    <i class="fa fa-apple"></i>
                </div>
            </div>
        </div>

        <div class="flex flex-1 justify-between lg:gap-10 gap-20 flex-wrap">

            <!-- Product -->
            <div>
                <h4 class="text-white font-montserrat text-2xl leading-normal mb-6 font-medium">Products</h4>
                <ul class="text-white">
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">Foods</li>
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">Tech</li>
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">Clothes</li>
                </ul>
            </div>

            <!-- Helps -->
            <div>
                <h4 class="text-white font-montserrat text-2xl leading-normal mb-6 font-medium">Hepls</h4>
                <ul class="text-white">
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">About Us</li>
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">FAQs</li>
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">How it works</li>
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">Privacy policy</li>
                    <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal hover:text-slate-400 cursor-pointer">Payment policy</li>
                </ul>
            </div>

            <!-- Contact us -->
            <div>
                <h4 class="text-white font-montserrat text-2xl leading-normal mb-6 font-medium">Contacts</h4>
                <ul>
                   <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal">{{email}}</li>
                   <li class="mt-3 text-slate-100 font-montserrat text-base leading-normal">+12345678900</li> 
                </ul>
            </div>
        </div>
    </div>

    <div class="flex justify-between text-white mt-24 max-sm:flex-col max-sm:items-center">
        <div class="flex flex-1 justify-start items-center gap-2 font-montserrat cursor-pointer">
            <p>&copy; VELIA Finoana Patrick 2024</p> 
        </div>
        <div class="font-montserrat cursor-pointer">Terms & Conditions</div>
    </div>
</footer>
