<div class="grid
lg:grid-cols-4
md:grid-cols-3
sm:grid-cols-2
sm:gap-4
gap-9
">
    <div class="flex flex-col w-full bg-white shadow-xl px-5 py-5">
        <div class="flex justify-center items-center w-11 h-11 rounded-full border-2 border-blue-400">
            <i class="fa fa-dollar text-blue-400"></i>
        </div>
        <h3 class="mt-2 font-semibold text-3xl text-blue-400">1200</h3>
        <p class="mt-2">Total Earing</p>
    </div>

    <div class="flex flex-col w-full bg-white shadow-xl px-5 py-5">
        <div class="flex justify-center items-center w-11 h-11 rounded-full border-2 border-amber-400">
            <i class="fa fa-users text-amber-400"></i>
        </div>
        <h3 class="mt-2 font-semibold text-3xl text-amber-400">5600</h3>
        <p class="mt-2">Daily User</p>
    </div>

    <div class="flex flex-col w-full bg-white shadow-xl px-5 py-5">
        <div class="flex justify-center items-center w-11 h-11 rounded-full border-2 border-emerald-400">
            <i class="fa fa-cart-plus text-emerald-400"></i>
        </div>
        <h3 class="mt-2 font-semibold text-3xl text-emerald-400">1348</h3>
        <p class="mt-2">Today's command</p>
    </div>

    <div class="flex flex-col w-full bg-white shadow-xl px-5 py-5">
        <div class="flex justify-center items-center w-11 h-11 rounded-full border-2 border-rose-400">
            <i class="fa fa-check text-rose-400"></i>
        </div>
        <h3 class="mt-2 font-semibold text-3xl text-rose-400">1800</h3>
        <p class="mt-2">New's feedback</p>
    </div>
</div>

<div class="mt-5 grid grid-cols-[2fr_1fr] gap-2
max-lg:grid-cols-1
">
    <div class="bg-white shadow-lg min-h-[300px] p-5">
        <div class="text-2xl font-semibold border-b border-gray-200 pb-1 flex justify-between items-center">
            <h2>Order calendar</h2>
        </div>
        <full-calendar [options]="options"></full-calendar>
    </div>
    <div class="bg-white shadow-lg min-h-[300px] p-5">
        <div class="text-2xl font-semibold border-b border-gray-200 pb-1 flex justify-between items-center">
            <h2>Menu list</h2>
            <button>
                <i class="fa fa-bars text-gray-300"></i>
            </button>
        </div>
        <div class="p-1">
            <ul class="max-h-[500px] overflow-y-scroll">
                @if(products) {
                    <li class="flex justify-between items-center border-b border-gray-200 py-1" *ngFor="let product of products.content">
                        <div class="w-11 h-11 rounded-full flex justify-center items-center">
                            <img [src]="findImage(product.id)" class="w-full h-full object-cover rounded-full">
                        </div>
                        <div class="w-[50%]">
                            <h4 class="font-bold">{{product.name}}</h4>
                            <p>by {{product.chef.name}}</p>
                        </div>
                        <div class="w-11">
                            <h4 class="font-semi-bold">
                                <i class="fa fa-dollar"></i>
                                {{product.price}}
                            </h4>
                        </div>
                    </li>
                }
                
            </ul>
        </div>
    </div>
</div>
