<div class="flex">
  <div class="bg-lime-500 h-screen p-5 pt-8 {{toggleChange ? 'w-72' : 'w-20'}} duration-300 relative">
    
    <button 
      class="bg-white rounded-full w-8 h-8 
      flex justify-center items-center 
      rounded-full absolute -right-3 top-9
      border border-lime-600"
      (click)="change()"
    >
      <i class="fa fa-arrow-left text-lime-500 text-3xl {{toggleChange ? 'rotate-180' : ''}}"></i>
    </button>
    
    <div class="{{ toggleChange ? 'w-50 h-40' : 'w-[40px] h-[40px]'}} duration-300 p-0">
      <img src="images/Ginyard-removebg-preview.png" class="w-full h-full object-cover" alt="">
    </div>
    
    <ul class="pt-2">
      <li>
        <a class="text-lime-900 text-xl 
        flex items-center gap-x-4 
        cursor-pointer p-2
        hover:bg-lime-200 rounded-md mt-2 ml-1" routerLink="/auth">
          <i class="fa fa-dashboard text-2xl block float-left"></i>
          <span class="font-medium flex-1 {{ !toggleChange ? 'hidden' : ''}} duration-500">Dashboard</span>
        </a>
      </li>
      <li class="text-lime-900 text-xl 
      flex items-center gap-x-4 
      cursor-pointer p-2
      hover:bg-lime-200 rounded-md mt-2 ml-1" (click)="openSubmenu()">
        <i class="fa fa-cutlery text-2xl block float-left"></i>
        <span class="font-medium flex-1 {{ !toggleChange ? 'hidden' : ''}} duration-500">Products</span>
        <i *ngIf="toggleChange" class="fa fa-chevron-right text-md {{toggleSubMenu ? 'rotate-90' : ''}}"></i>
      </li>
      <ul class="duration-300" *ngIf="toggleSubMenu && toggleChange">
        <li>
          <a class="text-lime-800 text-sm flex items-center gap-x-4
          curosor-pointer p-2 px-5 hover:bg-lime-200 rounded-md">All</a>
        </li>
        <li>
          <a class="text-lime-800 text-sm flex items-center gap-x-4
          curosor-pointer p-2 px-5 hover:bg-lime-200 rounded-md">Drinks</a>
        </li>
        <li>
          <a class="text-lime-800 text-sm flex items-center gap-x-4
          curosor-pointer p-2 px-5 hover:bg-lime-200 rounded-md">Pizzas</a>
        </li>
        <li>
          <a class="text-lime-800 text-sm flex items-center gap-x-4
          curosor-pointer p-2 px-5 hover:bg-lime-200 rounded-md">Dishs</a>
        </li>
        <li>
          <a class="text-lime-800 text-sm flex items-center gap-x-4
          curosor-pointer p-2 px-5 hover:bg-lime-200 rounded-md">Noodles</a>
        </li>
      </ul>
      <li>
        <a class="text-lime-900 text-xl 
        flex items-center gap-x-4 
        cursor-pointer p-2
        hover:bg-lime-200 rounded-md mt-2 ml-1" routerLink="/auth/chef">
          <i class="fa fa-user text-2xl block float-left"></i>
          <span class="font-medium flex-1 {{ !toggleChange ? 'hidden' : ''}} duration-500">Chef</span>
        </a>
      </li>
      <li>
        <a class="text-lime-900 text-xl 
        flex items-center gap-x-4 
        cursor-pointer p-2
        hover:bg-lime-200 rounded-md mt-2 ml-1">
          <i class="fa fa-ticket text-2xl block float-left"></i>
          <span class="font-medium flex-1 {{ !toggleChange ? 'hidden' : ''}} duration-500">Tickets</span> 
        </a>
      </li>

      <li>
        <a class="text-lime-900 text-xl 
        flex items-center gap-x-4 
        cursor-pointer p-2
        hover:bg-lime-200 rounded-md mt-9 ml-1">
          <i class="fa fa-cogs text-2xl block float-left"></i>
          <span class="font-medium flex-1 {{ !toggleChange ? 'hidden' : ''}} duration-500">Settings</span>
        </a>
      </li>
      <li>
        <a class="text-lime-900 text-xl 
        flex items-center gap-x-4 
        cursor-pointer p-2
        hover:bg-lime-200 rounded-md mt-2 ml-1">
          <i class="fa fa-sign-out text-2xl block float-left"></i>
          <span class="font-medium flex-1 {{ !toggleChange ? 'hidden' : ''}} duration-500">Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="bg-lime-100 w-full h-screen">
    <nav class="flex justify-between items-center bg-white p-3">
      <h1 class="text-2xl font-semibold"></h1>
      <div class="flex justify-center items-center gap-10">
        <ul class="flex gap-10">
          <li class="text-2xl relative">
            <a href=""><i class="fa fa-cart-arrow-down"></i></a>
          </li>
          <li class="text-2xl relative">
            <a href=""><i class="fa fa-bell"></i></a>
            <div class="absolute top-0 right-0 bg-red-500 rounded-full text-white w-[10px] h-[10px]">
            </div>
          </li>
        </ul>
        <img src="images/chief3.png" alt="" width="50" height="50" class="rounded-full">
        <a href="">Username</a>
      </div>
    </nav>
    <div class="px-7 py-5 ">
      <router-outlet />
    </div>
  </div>
</div>