<section class="w-full min-h-screen gap-10 max-container pt-28">
    <div class="w-full gap-10 mt-10">
        <h1 class="text-center text-4xl font-bold text-lime-400">Your favorites products</h1>
        <div class="flex flex-wrap w-full justify-center itmes-center px-5 py-10 gap-10">

            <div class="flex w-[350px] h-[150px] shadow-xl rounded" *ngFor="let fav of favorites">
                <div class="w-[150px] h-[150px]">
                    <img 
                        [src]="findProductImage(fav.id)" 
                        alt=""
                        class="w-full h-full object-cover object-center rounded"
                    >
                </div>
                <div class="w-1/2 p-2 gap-10">
                    <h3 class="text-xl font-medium">{{fav.name | truncate : 10}}</h3>
                    <button class="w-7 h-7 border-red-500 border rounded-full" (click)="retireToFavorite(fav.id)">
                        <i class="text-xl fa fa-heart text-red-500"></i>
                    </button>
                    <h6 class="text-2xl font-bold">
                        <i class="fa fa-dollar"></i>
                        {{fav.price}}
                    </h6>
                    <button class="bg-lime-500 mt-1 px-2 py-1 text-white rounded" (click)="addToCart(fav)">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>
                </div>
            </div>

            
        </div>
    </div>
</section>