<!-- it miss absolute class in header -->
<header class="px-5 py-8 absolute z-10 w-full">
    <nav class="flex justify-between items-center">
        <a href="#">
            <img 
                src="../../../../public/favicon.ico"
                alt="logo"
                width="130"
                height="29"
            />
        </a>
        <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
            <li>
                <a class="font-monts errat leading-normal text-lg text-slate-gray">
                    Home
                </a>
            </li>
            <li>
                <a class="font-monts errat leading-normal text-lg text-slate-gray">
                    About Us
                </a>
            </li>
            <li>
                <a class="font-monts errat leading-normal text-lg text-slate-gray">
                    Products
                </a>
            </li>
            <li>
                <a class="font-monts errat leading-normal text-lg text-slate-gray">
                    Contact Us
                </a>
            </li>
        </ul>
        
        <div class="hidden max-lg:block">
           <img 
            alt="hamburger"
                src="../../../../public/favicon.ico"
                width="25"
                height="25"
           /> 
        </div>
    

    </nav>
</header>
