<!-- it miss absolute class in header -->
<header class="absolute z-10 w-full">
    <nav class="flex justify-between items-center">
        <a href="#" class="outline-none">
            <img 
                src="images/Ginyard-removebg-preview.png"
                alt="logo"
                width="130"
                height="29"
            />
        </a>
        <!-- <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden"> -->
        <ul class="flex-1 flex justify-center items-center gap-16">
            <li>
                <a class="font-monts errat leading-normal text-lg text-slate-gray">
                    Home
                </a>
            </li>
            <li>
                <a href="#products" class="font-monts errat leading-normal text-lg text-slate-gray">
                    Products
                </a>
            </li>
            <li>
                <a href="#about us" class="font-monts errat leading-normal text-lg text-slate-gray">
                    About Us
                </a>
            </li>
            <li>
                <a href="#contact" class="font-monts errat leading-normal text-lg text-slate-gray">
                    Contact Us
                </a>
            </li>
        </ul>
        
        <div class="max-lg:hidden">
            <a href="#" class="font-bold mx-1" routerLink="auth">
                Sign In
            </a>
            <button class="border-2 border-lime-900 mx-5 rounded-[20px] px-5 py-2 text-lime-900
            hover:text-white hover:bg-lime-400 hover:border-lime-400 font-bold" (click)="register()">
                Sign Up
            </button>
        </div>

        <div class="hidden max-lg:block mr-10 text-3xl">
           <i class="fa fa-bars text-8xl"></i>
        </div>
    
        

    </nav>
</header>
