<section id="about us" class="flex justify-between items-center max-lg:flex-col gap-10 w-full max-container">
    <div class="flex flex-1 flex-col">
        <h2 class="font-palanquin text-4xl capitalize font-bold
        lg:max-w-lg
        ">
                    <span class="xl:bg-white xl:whitespace-nowrap relative z-10">
                        Don't forget to
                    </span>
                    <span class="text-lime-400">Download</span><br/>
                    <span class="text-lime-400">our mobile app</span>
                    to have more fun
                </h2>
                <p class="mt-4 lg:max-w-lg text-slate-600 text-lg">
                    
                </p>
                <p class="mt-6 lg:max-w-lg text-slate-600 text-lg">Also benefit from the same features in our mobile application available on tablet and smartphone</p>
                <div class="mt-11">
                    <button 
                class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-lime-400
                rounded-full text-white">
                    Donwload app <span class="text-xl font-bold"><i class="fa fa-mobile"></i></span>
                </button>
                </div>
    </div>
    <div class="flex-1 flex justify-center items-center w-[25%] h-[25%]">
        <img src="images/app.png" alt=""
        class=" object-cover"
        >
    </div>
</section>
