<section id="about us" class="flex justify-between items-center max-lg:flex-col gap-10 w-full max-container">
    <div class="flex flex-1 flex-col">
        <h2 class="font-palanquin text-4xl capitalize font-bold
        lg:max-w-lg
        ">
                    <span class="xl:bg-white xl:whitespace-nowrap relative z-10">
                        We provide you
                    </span>
                    <span class="text-lime-400">Super</span><br/>
                    <span class="text-lime-400">Quality</span>
                    Shoes
                </h2>
                <p class="mt-4 lg:max-w-lg text-slate-600 text-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo sapiente dolores qui neque ad nulla voluptate esse nam, dolorum eligendi magni perspiciatis reprehenderit id rerum amet enim quia cupiditate!
                </p>
                <p class="mt-6 lg:max-w-lg text-slate-600 text-lg">Our dedication to detail and excellence ensures your satisfaction</p>
                <div class="mt-11">
                    <button 
                class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-lime-400
                rounded-full text-white">
                    View details
                </button>
                </div>
    </div>
    <div class="flex-1 flex justify-center items-center">
        <img src="images/Pad-Thai-au-poulet-au-Cookeo-ou-sans-removebg-preview.png" alt=""
        class="w-[570px] h-[522px] object-cover"
        >
    </div>
</section>
