<div class="p-10 flex justify-between items-center">
    <div class="flex">
        <label for="size">Show by</label>
        <select 
            id="size" 
            class="mx-1 px-2 text-xl border-b border-gray-200 shadow-md"
            [(ngModel)]="pagination.size" (ngModelChange)="onSelectOption()"
        >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
        <ul class="flex justify-center items-center">
            <li [ngClass]="pagination.number == 0 ? 'cursor-not-allowed' : ''">
                <a
                    (click)="changePage(pagination.number - 1, pagination.size,pagination.totalPages)" 
                    [ngClass]="blockIncrementPage(pagination.number)"
                >
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li>{{pagination.number + 1}}/{{pagination.totalPages}}</li>
            <li [ngClass]="pagination.number + 1 == pagination.totalPages || pagination.totalPages == null ? 'cursor-not-allowed' : ''">
                <a 
                    (click)="changePage(pagination.number + 1, pagination.size, pagination.totalPages)"
                    [ngClass]="blockDecrementPage(pagination.number,pagination.totalPages)"
                >
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
</div>
