<section id="home" 
        class="w-full flex xl:flex-row flex-col justify-center min-h-screen gap-10 max-container">
        
            <div class="relative xl:w-2/5 flex flex-col justify-center items-start w-full max-xl:padding-x pt-28">
                <p class="text-xl text-lime-300">The best way to enjoy life</p>
                <h1 class="mt-5 font-palanquin text-8xl 
                max-sm:text-[72px]
                max-sm:leading-[82px]
                font-bold">
                    <span class="xl:bg-white xl:whitespace-nowrap relative z-10 pr-10">Welcome to</span>
                    <br/>
                    <span class="text-lime-400 inline-block mt-3">Rest Food</span>
                    Bakery
                </h1>
                <p class="text-slate-gray text-lg leading-8 
                mt-5 mb-10 sm:max-w-sm">Discover stylish Nike arrivals, quality comfort,
                    and innovation for your active life.
                </p>
                <button 
                class="flex justify-center items-center gap-2 px-7 py-4 border text-lg leading-none bg-lime-400
                rounded-full text-white">
                    Show me
                    <span class="ml-2 rounded-full w-5 h-5 bg-white text-lime-300 flex justify-center items-center">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </button>
                
            </div>
            
            <div class="flex items-center bg-lime-300">
                <img src="images/croque-monsieur-removebg-preview.png" alt="">
            </div>
        
</section>
<div class="flex justify-around items-center flex-wrap w-full mt-10 gap-16">
    <div>
        <p class="text-4xl font-palanquin font-bold">1K+</p>
        <p class="leading-7 text-slate-gray">Drinks</p>
    </div>
    <div>
        <p class="text-4xl font-palanquin font-bold">500+</p>
        <p>Recipes</p>
    </div>
    <div>
        <p class="text-4xl font-palanquin font-bold">250k+</p>
        <p>Customers</p>
    </div>
</div>